.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b6973a;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  .container.dimmed {
    opacity: 0.3;
  }
  
  .image {
    width: 80px;
    height: 80px;
    transform: rotate(-25deg);
  }
  

 