/* Splash.module.css */

.screen {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #b6973a;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }
  
  /* Animation Keyframes */
  @keyframes fadeInOut {
    0% {
      opacity: 0;
      transform: scale(1);
    }
    50% {
      opacity: 1;
      transform: scale(1.1);
    }
    100% {
      opacity: 0;
      transform: scale(1) ;
    }
  }
  
  /* Image Styling with Animation */
  .image {
    width: 80px;
    animation: fadeInOut 2s ease-in-out infinite;
  }
  